	<footer>
		<p class = "paragraphCenter" >Date de contact</p>
			<ul>
			<li>Adresa sediu: strada Lalelelor, nr.45, Bucure&#537ti</li>
			<li>Adresa de email:  bufnitacuflori@gmail.com</li>
			</ul>
		<p class = "paragraphCenter" >Copyright &#169 aprilie 2019-prezent Bufni&#539a cu flori</p>
		<p class = "paragraphCenter"> <a href = "#top" >Inceputul paginii </a> </p>
	</footer>