<!DOCTYPE html>

<html lang = "ro">

<head>
	<title>Bufni&#539;a cu flori: Eroare</title>
	
	<meta charset="UTF-8">
	<meta name="autor" content="Oana Ivan">
	<meta name="description" content="pagina de eroare"> 
	<meta name="keywords" content="flori,florarie Bucuresti,aranjamente florare"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/jpg" href="Imagini/Imgsite/favicon_bufnita.png">
	<link rel="stylesheet" type="text/css" href="../resurse/css/stilizareGenerala.css">
</head>

<body>
	<main>
		<h1>Eroare 404</h1> 
		<p>Nu am găsit pagina solicitată.</p>
	</main>
</body>

</html>