<!DOCTYPE html>

<html lang = "ro">

<head>
	<title>Bufni&#539;a cu flori: Aranjamente</title>
	
	<meta charset = "UTF-8">
	<meta name = "autor" content = "Oana Ivan">
	<meta name = "description" content = "Acesta pagina prezinta pe scurt tipurile de produse pe care le ofera firma."> 
	<meta name = "keywords" content = "aranjamente, flori, buchete, ocazii, nunta, botez"> 
	<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/jpg" href="Imagini/Imgsite/favicon_bufnita.png">
	<link rel = "stylesheet" type = "text/css" href = "../resurse/css/stilizareGenerala.css">
	<link rel = "stylesheet" type = "text/css" href = "../resurse/css/stilizareAranjamente.css"> 
</head>

<body>
	<%- include ("../fragmente/header.ejs")%>
		
	<main>
		
		<h2>Buchete &#537;i aranjamente florale pentru ocazii speciale </h2> 
		
		<nav>
			<h3>Con&#355;inutul paginii</h3>
			<ul id = "continutPagina">
			<li><a href = "AranjamenteEvenimente.html">Aranjamente pentru evenimente</a></li>
			<li><a href = "AranjamenteSarbatori.html">Aranjamente pentru s&#259;rb&#259;tori</a></li>
			</ul>
		</nav>
		
		<div id = "continut">
		<p><img src = "Imagini/3.ImgAranjamente/expertip1.jpg" alt = "Exper&#355;i">
			De-a lungul timpului ne-am specializat pe realizarea de buchete &#537;i aranjamente special g&#226;ndite pentru dumneavoastr&#259;. 
		    V&#259; invit&#259;m s&#259; descoperi&#355;i combina&#355;iile pe care exper&#355;ii no&#537;trii le-au preg&#259;tit. 
		</p>
		<dl>
			<dt>Aranjamente florale pentru evenimente speciale.</dt>
			<dd>V&#259; oferim aranjamente special concepute pentru evenimentele dumneavoastr&#259;(precum nunt&#259;, botez). Oferim servicii de consultan&#355;&#259; privind
			alegerea potrivit&#259; a florilor &#537;i multe altele. Pentru detalii ap&#259;sa&#355;i <a href = "AranjamenteEvenimente.html">aici</a>.</dd>
			
			<dt>Aranjamente florale &#537;i buchete pentru s&#259;rb&#259;tori &#537;i zile de na&#537;tere</dt>
			<dd>Fie c&#259; &#537;ti&#355;i deja ce c&#259;uta&#355;i sau ave&#355;i nevoie de inspira&#355;ie pentru o zi special&#259;, v&#259; invit&#259;m s&#259; consulta&#355;i
			oferta noastr&#259; disponibil&#259; <a href = "AranjamenteSarbatori.html">aici</a>.</dd>
		</dl>
		<!--<div>
		<iframe src="https://giphy.com/embed/10Mgxh2ctqqz9m" allowFullScreen></iframe>
		</div>-->
		</div>
		
	</main>
	
	<%- include ("../fragmente/footer.ejs")%>
</body>

</html>