<!DOCTYPE html>

<html lang = "ro">

<head>
	<title>Bufni&#539;a cu flori: S&#259;rb&#259;tori</title>
	
	<meta charset="UTF-8">
	<meta name="autor" content="Oana Ivan">
	<meta name="description" content="Prezentarea produselor firmei destinate sarbatorilor celor mai comune."> 
	<meta name="keywords" content="flori, aranjamente florare, ziua femeii, dragobete, zi nastere">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/jpg" href="Imagini/Imgsite/favicon_bufnita.png">
	<link rel="stylesheet" type="text/css" href="../resurse/css/stilizareGenerala.css">
	<link rel="stylesheet" type="text/css" href="../resurse/css/stilizareSarbatoriEvenimente.css"> 
</head>

<body>
	<%- include ("../fragmente/header.ejs")%>
		
	<main>
		<h2>Aranjamente pentru s&#259;rb&#259;tori </h2>
		<nav>
			<h3>Con&#355;inutul paginii</h3>
			<ul id = "continutPagina">
			<li><a href = "#mama">Ziua femeii</a></li>
			<li><a href = "#dragobete">Dragobete</a></li>
			<li><a href = "#ziNastere">Zile de na&#537;tere</a></li>
			</ul>
		</nav>
		
		<div id = "continut">
		<section>
			<h2 id = "mama">ZIUA FEMEII</h2>
			<img src = "Imagini/3.ImgAranjamente/ziuaMamei.png" alt = "Ziua mamei" class = "smallImage">
			<p>
			Ziua Interna&#355;ională a femeii este s&#259;rb&#259;torit&#259; anual la data de 8 martie pentru a comemora realiz&#259;rile sociale, politicile &#537;i 
			condi&#355;iile economice ale femeilor din toate p&#259;r&#355;ile ale lumii.(<a href = "https://ro.wikipedia.org/wiki/Ziua_Interna%C8%9Bional%C4%83_a_Femeii">
			surs&#259; </a>)
			</p>
			<section class = "imgAranjamente">
			<h3>Aranjamente pentru ziua femeii</h3>
			<figure class="fig">
				<img src = "Imagini/3.ImgAranjamente/ziuaMamei1.jpg" alt = "Ziua mamei" class = "altaDimensiune">
				<figcaption> Buchet A1</figcaption>
			</figure>
			<figure class="fig">
				<img src = "Imagini/3.ImgAranjamente/ziuaMamei2.jpg" alt = "Ziua mamei" class = "altaDimensiune">
				<figcaption> Buchet B2</figcaption>
			</figure>
			<figure class="fig">
				<img src = "Imagini/3.ImgAranjamente/ziuaMamei3.jpg" alt = "Ziua mamei" class = "altaDimensiune">
				<figcaption> Buchet A3</figcaption>
			</figure>
			</section>
		</section>
		
		<section>
			<h2 id = "dragobete">DRAG0BETE</h2>
			<img src = "Imagini/3.ImgAranjamente/dragobete.png" alt = "Dragobete" class = "smallImage">
			<p>
			Ziua de Dragobete se s&#259;rb&#259;tore&#537;te &#238;n fiecare an pe 24 februarie, o zi dedicat&#259; iubirii &#238;i considerat&#259; una dintre cele mai frumoase 
			tradi&#355;ii ale poporului nostru.(<a href = "https://www.traditii-superstitii.ro/ziua-de-dragobete/">surs&#259; </a>)
			</p>
			<section class = "imgAranjamente">
			<h3>Aranjamente pentru dragobete</h3>
			<figure class="fig">
				<img src = "Imagini/3.ImgAranjamente/dragobete1.jpg" alt = "Dragobete" class = "altaDimensiune">
				<figcaption> Buchet A2</figcaption>
			</figure>
			<figure class="fig">
				<img src = "Imagini/3.ImgAranjamente/dragobete2.jpg" alt = "Dragobete" class = "altaDimensiune">
				<figcaption> Buchet B1</figcaption>
			</figure>
			<figure class="fig">
				<img src = "Imagini/3.ImgAranjamente/dragobete3.jpg" alt = "Dragobete" class = "altaDimensiune">
				<figcaption> Buchet A3</figcaption>
			</figure>
			</section>
		</section>
		
		<section>
			<h2 id = "ziNastere">Zile de na&#537;tere </h2>
			<img src = "Imagini/3.ImgAranjamente/ziNastere.png" alt = "Zi de nastere" class = "smallImage">
			<p>
			Buchete speciale pentru a fi oferite cu ocazia zilelelor de na&#537;tere a aproprie&#355;iilor.
			</p>
			<section class = "imgAranjamente">
			<h3>Aranjamente pentru zile de na&#537;tere</h3>
			<figure class="fig">
				<img src = "Imagini/3.ImgAranjamente/ziNastere1.png" alt = "Zi de nastere" class = "altaDimensiune">
				<figcaption> Buchet B2</figcaption>
			</figure>
			<figure class="fig">
				<img src = "Imagini/3.ImgAranjamente/ziNastere2.jpg" alt = "Zi de nastere" class = "altaDimensiune">
				<figcaption> Buchet B1</figcaption>
			</figure>
			<figure class="fig">
				<img src = "Imagini/3.ImgAranjamente/ziNastere3.png" alt = "Zi de nastere" class = "altaDimensiune">
				<figcaption> Buchet B2</figcaption>
			</figure>
			</section>
		</section>
		
		</div>
		
	</main>
	
	<%- include ("../fragmente/footer.ejs")%>
</body>

</html>

