<!DOCTYPE html>

<html lang = "ro">

<head>
	<title>Bufni&#539;a cu flori: Evenimente</title>
	
	<meta charset="UTF-8">
	<meta name="autor" content="Oana Ivan">
	<meta name="description" content="Prezentarea ofertei de decorare cu ocazia evenimentelor clientiilor(nunta, botez, altele)"> 
	<meta name="keywords" content="flori, nunta, botez"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/jpg" href="Imagini/Imgsite/favicon_bufnita.png">
	<link rel="stylesheet" type="text/css" href="../resurse/css/stilizareGenerala.css">
	<link rel="stylesheet" type="text/css" href="../resurse/css/stilizareSarbatoriEvenimente.css"> <!--MODIFICA AICI-->
</head>

<body>
	<%- include ("../fragmente/header.ejs")%>
		
	<main>
		<h2>Buchete &#537;i aranjamente florale pentru ocazii speciale</h2> 
		<nav>
			<h3>Con&#355;inutul paginii</h3>
			<ul id = "continutPagina">
			<li><a href = "#nunta" >Nunt&#259; </a></li>
			<li><a href = "#botez" >Botez</a></li>
			<li><a href = "#altele">Alte ocazii</a></li>
			</ul>
		</nav>
		
		<div id = "continut">
		<section>
			<h2 id = "nunta">Nunt&#259; </h2>
			<img src = "Imagini/3.ImgAranjamente/nunta.png" alt = "Nunta" class = "smallImage">
			<p>
			Propria nunta se dore&#537;te a fi, de c&#259;tre fiecare pereche de miri, una de poveste &#537;i &#238;ntr-adevar, cu ajutorul florilor, se poate crea un decor de poveste.
			Alegerile corecte, din acest punct de vedere, pot conduce la ob&#355;inerea unor aranjamente florale absolut deosebite, care pot transpune invita&#355;ii &#238;ntr-un 
			ambient feeric, multicolor &#537;i parfumat. (<a href = "https://www.happyflower.ro/aranjamente-florale-nunta/">surs&#259; </a>)
			</p>
			<section class = "imgAranjamente">
			<h3>Imagini aranjamente nunt&#259;</h3>
			<figure class="fig">
				<img src = "Imagini/3.ImgAranjamente/nunta1.jpg" alt = "nunta" class = "altaDimensiune">
				<figcaption> Aranjamente florale zambile</figcaption>
			</figure>
			<figure class="fig">
				<img src = "Imagini/3.ImgAranjamente/nunta2.jpg" alt = "nunta" class = "altaDimensiune">
				<figcaption> Aranjamente florale frezii</figcaption>
			</figure>
			<figure class="fig">
				<img src = "Imagini/3.ImgAranjamente/nunta3.jpg" alt = "nunta" class = "altaDimensiune">
				<figcaption> Aranjamente florale trandafiri</figcaption>
			</figure>
			<figure class="fig">
				<img src = "Imagini/3.ImgAranjamente/nunta4.jpg" alt = "nunta" class = "altaDimensiune">
				<figcaption> Buchet 1</figcaption>
			</figure>
			<figure class="fig">
				<img src = "Imagini/3.ImgAranjamente/nunta5.jpg" alt = "nunta" class = "altaDimensiune">
				<figcaption> Buchet 2</figcaption>
			</figure>
			<figure class="fig">
				<img src = "Imagini/3.ImgAranjamente/nunta6.jpg" alt = "nunta" class = "altaDimensiune">
				<figcaption> Buchet 3</figcaption>
			</figure>
			</section>
		</section>
		
		<section>
			<h2 id = "botez">Botez </h2>
			<img src = "Imagini/3.ImgAranjamente/botez.png" alt = "Botez" class = "smallImage">
			<p>
			Buchete &#537;i aranjamente florale speciale pentru acest tip de evenimet.
			</p>
			<section class = "imgAranjamente">
			<h3>Imagini aranjamente botez</h3>
			
			<figure class="fig">
				<img src = "Imagini/3.ImgAranjamente/botez1.jpg" alt = "botez" class = "altaDimensiune">
				<figcaption></figcaption>
			</figure>
			<figure class="fig">
				<img src = "Imagini/3.ImgAranjamente/botez2.jpg" alt = "botez" class = "altaDimensiune">
				<figcaption></figcaption>
			</figure>
			<figure class="fig">
				<img src = "Imagini/3.ImgAranjamente/botez3.png" alt = "botez" class = "altaDimensiune">
				<figcaption></figcaption>
			</figure>	
			</section>
		</section>
		
		<section>
			<h2 id = "altele">Altele </h2>
			<img src = "Imagini/3.ImgAranjamente/altele.png" alt = "Altele" class = "smallImage">
			<p>
			Exist&#259; numeroase ocazii cu tematici diverse care au nevoie de un decor personalizat, noi ne mul&#259;m pe cerin&#355;ele dumneavoastr&#259;.
			</p>
			<section class = "imgAranjamente">
			<h3>Imagini aranjamente diverse</h3>
			<figure class="fig">
				<img src = "Imagini/3.ImgAranjamente/craciun.png" alt = "craciun" class = "altaDimensiune">
				<figcaption> Cr&#259;ciun </figcaption>
			</figure>
			<figure class="fig">
				<img src = "Imagini/3.ImgAranjamente/petrecere1.jpg" alt = "petrecere" class = "altaDimensiune">
				<figcaption>Petrecere formal&#259; </figcaption>
			</figure>
			<figure class="fig">
				<img src = "Imagini/3.ImgAranjamente/petrecere2.jpg" alt = "petrecere" class = "altaDimensiune">
				<figcaption>Orice tip de petrecere</figcaption>
			</figure>
			</section>
		</section>
		</div>
		
	</main>
	
	<%- include ("../fragmente/footer.ejs")%>
</body>

</html>
		
