<!DOCTYPE html>

<html lang = "ro">

<head>
	<title>Bufni&#539;a cu flori: Galerie</title>
	
	<meta charset="UTF-8">
	<meta name="autor" content="Oana Ivan">
	<meta name="description" content="Galerie cu poze ale produselor oferite: buchete cu flori, aranjamente florale.">
	<meta name="keywords" content="flori, buchet, aranjamente florale">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/jpg" href="Imagini/Imgsite/favicon_bufnita.png">
	<link rel="stylesheet" type="text/css" href="../resurse/css/stilizareGenerala.css">
	<link rel="stylesheet" type="text/css" href="../resurse/css/stilizareGalerie.css"> 
</head>

<body>
	<%- include ("../fragmente/header.ejs")%>
		
	<main>
		<h2>Galerie</h2> 
		<nav>
			<h3>Con&#355;inutul paginii</h3>
			<ul id = "continutPagina">
			<li><a href = "#buchete" >Galerie buchete</a></li>
			<li><a href = "#galerieAranjamente" >Galerie aranjamente</a></li>
			</ul>
		</nav>
		
		<div id = "continut">
			<h3 id = "buchete">Buchete</h3>
			<div class = "galerie" >
				<figure class="fig">
				<img src="Imagini/5.ImgGalerie/buchet1.jpg" alt="buchet1" class="imgfig">
				<figcaption> Buchet trandafiri roz, disponibili acum &#238;n flor&#259;eiile noastre.</figcaption>
				</figure>
				
				<figure class="fig">
				<img src="Imagini/5.ImgGalerie/buchet2.jpg" alt="buchet1" class="imgfig">
				<figcaption>Buchet trandafiri culoare portocaliu</figcaption>
				</figure>
				
				<figure class="fig">
				<img src="Imagini/5.ImgGalerie/buchet3.jpg" alt="buchet1" class="imgfig">
				<figcaption> Buchet trandafiri galbeni</figcaption>
				</figure>
				
				<figure class="fig">
				<img src="Imagini/5.ImgGalerie/buchet4.jpg" alt="buchet1" class="imgfig">
				<figcaption>Buchet trandafiri mov</figcaption>
				</figure>
				
				<figure class="fig">
				<img src="Imagini/5.ImgGalerie/buchet5.jpg" alt="buchet1" class="imgfig">
				<figcaption>Buchet combina&#355;ie de trandafiri alb &#537;i portocaliu</figcaption>
				</figure>
				
				<figure class="fig">
				<img src="Imagini/5.ImgGalerie/buchet6.jpg" alt="buchet1" class="imgfig">
				<figcaption> Buchet combina&#355;ie de trandafiri culori personalizate</figcaption>
				</figure>
				
				
			</div>
			
			<h3 id = "galerieAranjamente">Aranjamente</h3>
			<div class = "galerie" >
				<figure class="fig">
				<img src="Imagini/5.ImgGalerie/aranjament1.jpg" alt="aranjament1" class="imgfig">
				<figcaption>Aranjament bujori</figcaption>
				</figure>
				
				<figure class="fig">
				<img src="Imagini/5.ImgGalerie/aranjament2.jpg" alt="aranjament2" class="imgfig">
				<figcaption>Aranjament trandafiri &#537;i bujori</figcaption>
				</figure>
				
				<figure class="fig">
				<img src="Imagini/5.ImgGalerie/aranjament3.jpg" alt="aranjament3" class="imgfig">
				<figcaption>Aranjament trandafiri</figcaption>
				</figure>
				
				<figure class="fig">
				<img src="Imagini/5.ImgGalerie/aranjament4.jpg" alt="aranjament4" class="imgfig">
				<figcaption>Aranjament trandafiri de culoarea piersicii</figcaption>
				</figure>
				
				<figure class="fig">
				<img src="Imagini/5.ImgGalerie/aranjament5.jpg" alt="aranjament5" class="imgfig">
				<figcaption>Aranjament trandafiri rosii</figcaption>
				</figure>
				
				<figure class="fig">
				<img src="Imagini/5.ImgGalerie/aranjament6.jpg" alt="aranjament6" class="imgfig">
				<figcaption>Aranjament bujori</figcaption>
				</figure>
			</div>
		</div>
		<!--
		<iframe src="https://giphy.com/embed/10Mgxh2ctqqz9m"  allowFullScreen></iframe>-->
	</main>
	
	<%- include ("../fragmente/footer.ejs")%>
</body>

</html>
