<!DOCTYPE html>

<html lang = "ro">

<head>
	<title>Bufni&#539;a cu flori: Acasa</title>
	
	<meta charset="UTF-8">
	<meta name="autor" content="Oana Ivan">
	<meta name="description" content="prezentarea firmei si a elementelor sale principale: istoric, oferte, contact"> 
	<meta name="keywords" content="flori,florarie Bucuresti,aranjamente florare"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/jpg" href="resurse/Imagini/Imgsite/favicon_bufnita.png">
	<link rel="stylesheet" type="text/css" href="../resurse/css/stilizareGenerala.css">
	<link rel="stylesheet" type="text/css" href="../resurse/css/stilizareIndex.css">
	<script src = "../resurse/js/index.js" ></script>
</head>

<body>
	<%- include ("../fragmente/header.ejs")%>
		
	<main>
		<p>Logare: </p>

		<form id="login" method="post" >
			<label>
				Username: <input type="text" name="username" value="">
			</label>
			
			<label>
				Parola: <input type="password" name="parola" value="">
			</label>
			<input type="submit" value="SUBMIT">
		</form>
		
		<h2>Acas&#259; </h2> 
		
		<nav>
			<h3>Con&#355;inutul paginii</h3>
			<ul id = "continutPagina">
			<li><a href = "#istoric" >Despre noi</a></li>
			<li><a href = "#servicii" >Ce v&#259; oferim</a></li>
			<li><a href = "#evenimente">Evenimente la care particip&#259;m </a></li>
			<li><p><a href = "#contact">Unde ne g&#259;si&#355;i</a></p></li>
			</ul>
		</nav>
		
		<div id = "continut">
		<section>
			<h3 id = "istoric">Despre noi</h3>
			<img src = "../resurse/Imagini/1.ImgAcasa/despre.jpg" alt = "Floraria noastr&#259;" title = "Interiorul flor&#259;riei">
			<p>Flor&#259;ria Bufni&#539;a cu flori a &#238;nceput s&#259;-&#537;i bucure clien&#539;ii &#238;nc&#259; 
			   din anii 2000. La &#238;nceput  a 
			   fost o mic&#259; afacere de familie &#238;n care mul&#539;i nu credeau, dar ast&#259;zi a ajuns 
			   s&#259; fie recunoscut&#259; &#238;n mai multe ora&#537;e, av&#226;nd mai multe magazine &#238;n 
			   Bucure&#537;ti, Bac&#259;u &#537;i Timi&#537;oara. Ne-am c&#226;&#537;tigat renumele &#537;i clien&#539;ii
			   prin florile proaspete zilnic de care avem grij&#259; &#537;i prin concursurile de aranjamente c&#226;&#537;tigate. 
			</p>
			<p>Suntem  m&#226;ndri s&#259; v&#259; anun&#539;&#259;m  c&#259; &#238;ncep&#226;nd cu data de 15 aprilie 2019 ne-am extins
			   &#537;i &#238;n mediul online &#537;i v&#259; prezent&#259;m noile noastre buchete &#537;i aranjamente florale disponibile 
			   &#537;i pe comand&#259;.
			</p>
		</section>
		
		<section>
			<h3 id = "servicii">Ce v&#259; oferim</h3>
			<img src = "../resurse/Imagini/1.ImgAcasa/oferta.jpg" alt = "buchet de flori" title = "Buchet de trandafiri">
			<p>V&#259; oferim <b>aranjamente florale de &#238;nalt&#259; calitate</b>, cu flori atent selecte pentru momente unice. 
			Lucr&#259;m  pe comend&#259; diferinte modele cu diferite flori. De asemenea, realiz&#259;m/oferim &#537;i ornamente florale 
			pentru evenimentele dumnevoastr&#259; speciale. Pute&#355;i consulta lista de pre&#355;uri 
			<a href = "Oferta.html#preturi">aici</a>.</p>
		</section>
		
		<section>
			<h3 id = "evenimente">Evenimente la care particip&#259;m </h3>
			<img src = "../resurse/Imagini/1.ImgAcasa/eveniment.jpg" alt = "eveniment" title = "Aranjament floral eveniment">
			<p>Ne m&#226;ndrim cu faptul c&#259; suntem invita&#355;i la multe evenimente de top ce se ocup&#259; cu domenul florilor.</p>
			<p>De asemenea, anul viitor vom s&#259;rb&#259;tori <b>20 de ani de experien&#355;&#259;</b> &#537;i cu aceast&#259; ocazie v&#259; vom preg&#259;ti vou&#259;,
			clien&#355;ilor no&#537;tri multe surprize, motiv pentru care v&#259; invit&#259;m s&#259; ne urm&#259;ri&#355;i site-ul &#537;i pagina de 
			Facebook unde vom posta mai multe detalii.</p>
		</section>
		
		<section>
			<h3 id = "contact">Unde ne g&#259;si&#539;i</h3>
			<img src = "../resurse/Imagini/1.ImgAcasa/contact.jpg" alt = "contact" title = "Contacta&#355;i-ne">
			<p>Pentru a v&#259; bucura de produsele &#537;i serviciile noastre v&#259; invit&#259;m s&#259; ne vizita&#539;i
			&#238;n flor&#259;riile noastre din Bucure&#539;i, Bac&#259;u &#537;i Timi&#537;oara sau s&#259; comanda&#355;i de pe site-ul nostru, complet&#226;nd 
			<a href = "Formular.html">formularul</a>.</p>
			<p>De asemenea, g&#259;si&#355;i mai jos adresa sediului nostru din Bucure&#537;ti.</p>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8876339159783!2d26.09749961489382!3d44.435467109512764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83%20-%20Universitatea%20din%20Bucure%C8%99ti!5e0!3m2!1sro!2sro!4v1573562898214!5m2!1sro!2sro" 
			 id = "locatie"></iframe>
		</section>
		</div>
		
		<img src = "resurse/Imagini/1.ImgAcasa/separator.png" alt = "separator" class = "separator">
		
		<div id = "diverse">
		<article>
			<h3>Impactul florilor</h3>
			<p>Un studiu a ar&#259;tat c&#259; florile declan&#537;eaz&#259; emo&#355;ii pozitive atunci c&#226;nd sunt primite sau, pur &#537;i simplu, privite. 
			 Impactul emo&#355;ional al florilor este mental, atr&#259;g&#226;nd bucurie &#537;i stimul&#226;nd sim&#355;urile
			(<a href = "https://floria.ro/blog/impactul-emotional-al-florilor-cum-ne-influenteaza-florile-sanatatea-emotionala/">surs&#259;</a>).</p>
			<img src = "resurse/Imagini/1.ImgAcasa/impactFlori.png" alt = "bufnite" class = "smallImage">
		</article>
		
		
		
		</div>
		
	</main>
	
	<%- include ("../fragmente/footer.ejs")%>
</body>

</html>