<!DOCTYPE html>

<html lang = "ro">

<head>
	<title>Bufni&#539;a cu flori: Logout</title>
	
	<meta charset="UTF-8">
	<meta name="autor" content="Oana Ivan">
	<meta name="description" content=""> 
	<meta name="keywords" content="flori,florarie Bucuresti,aranjamente florare"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/jpg" href="../resurse/Imagini/Imgsite/favicon_bufnita.png">
	<link rel="stylesheet" type="text/css" href="../resurse/css/stilizareGenerala.css">
</head>

<body>
	<%- include ("../fragmente/header.ejs")%>
		
	<main>
		<p>Logout</p>
	</main>
	
	<%- include ("../fragmente/footer.ejs")%>
</body>

</html>