<!DOCTYPE html>

<html lang = "ro">

<head>
	<title>Bufni&#539;a cu flori: Oferta noastr&#259;</title>
	
	<meta charset="UTF-8">
	<meta name="autor" content="Oana Ivan">
	<meta name="description" content="Prezentarea preturilor si a tipurilor de produse."> 
	<meta name="keywords" content="flori, aranjamente florale, pret flori, pret buchete">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/jpg" href="Imagini/Imgsite/favicon_bufnita.png">
	<link rel="stylesheet" type="text/css" href="../resurse/css/stilizareGenerala.css">
	<link rel="stylesheet" type="text/css" href="../resurse/css/stilizareOferta.css"> 
</head>

<body>
	<%- include ("../fragmente/header.ejs")%>
		
	<main>
		<h2>Oferta noastr&#259;</h2>
		
		<nav id = "navPag">
			<h3>Con&#355;inutul paginii</h3>
			<ul id = "continutPagina">
			<li><a href = "#tpreturi" >Tabel cu pre&#355;uri </a></li>
			<li><p><a href = "#indentificator">Mod de identificare buchete</a></p></li>
			</ul>
		</nav>
		<div id = "continut">
		<section>
			<h3 id = "tpreturi">Tabel cu pre&#355;uri</h3>
			<p>In acest tabel v&#259; prezent&#259;m pre&#355;urile la care pute&#355;i achizi&#355;iona produsele noastre.<p>
			<table id = "preturi">
			<caption>Pre&#355;uri</caption>
			<thead >
				<tr>
				<th>Numele aranjamentului</th>
				<th>M&#259;rimea </th>
				<th>Tipul ambalajului</th>
				<th>Descriere</th>
				<th>Pre&#355; </th>
				<th>Disponibilitate</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				<td>A1</td>
				<td>Large</td>
				<td>Cutie decorativ&#259; </td>
				<td>Con&#355;ine 29 de flori la alegerea clientului</td>
				<td>100 de lei</td>
				<td>Online &#537;i &#238;n flor&#259;riile din Bac&#259;u </td>
				</tr>
				
				<tr>
				<td>A2</td>
				<td>Medium</td>
				<td>Pung&#259; decorativ&#259; &#537;i panglic&#259; </td>
				<td>Con&#355;ine 19 de flori la alegerea clientului</td>
				<td>60 de lei</td>
				<td>Online &#537;i &#238;n flor&#259;riile din Bac&#259;u </td>
				</tr>
				
				<tr>
				<td>A3</td>
				<td>Small</td>
				<td>Pung&#259; decorativ&#259; </td>
				<td>Con&#355;ine 9 flori la alegerea clientului</td>
				<td>30 de lei</td>
				<td>Online &#537;i &#238;n toate flor&#259;riile </td>
				</tr>
				
				<tr>
				<td >B1</td>
				<td>Large</td>
				<td>Cutie decorativ&#259; </td>
				<td>Con&#355;ine 29 de flori la alegerea clientului</td>
				<td>100 de lei</td>
				<td>Online &#537;i &#238;n flor&#259;riile din Bac&#259;u </td>
				</tr>
				
				<tr>
				<td>B2</td>
				<td>Medium</td>
				<td>Pung&#259; decorativ&#259; &#537;i panglic&#259; </td>
				<td>Con&#355;ine 19 de flori la alegerea clientului</td>
				<td>60 de lei</td>
				<td>Online &#537;i &#238;n flor&#259;riile din Bac&#259;u </td>
				</tr>
				
				<tr>
				<td>B3</td>
				<td>Small</td>
				<td>Pung&#259; decorativ&#259; </td>
				<td>Con&#355;ine 9 flori la alegerea clientului</td>
				<td>30 de lei</td>
				<td>Online &#537;i &#238;n toate flor&#259;riile </td>
				</tr>

			</tbody>
			</table>
			
		</section>
		
		<section>
			<h3 id = "indentificator">Mod de identificare buchete</h3>
			<ul>
				<li>
				<p>Numele buchetelor sunt date astfel:</p>
					<dl>
						<dt>A</dt>
						<dd>Buchete ce pot fi formate din: trandafiri, crini, crizanteme</dd>
						<dt>B</dt>
						<dd>Buchete ce pot fi formate din: bujori, lalele, zambile</dd>
					</dl>
					
				</li>
				<li>
				<p>Numerele asociate numelor buchetelor sunt date astfel:</p>
					<dl>
						<dt>1</dt>
						<dd>Buchete complexe</dd>
						<dt>2</dt>
						<dd>Buchete de complexitate medie</dd>
						<dt>3</dt>
						<dd>Buchete simple</dd>
					</dl>
				</li>
			</ul>
		
		</section>
		<iframe src="https://giphy.com/embed/WV36MGyLptrCieknFj" allowFullScreen></iframe>
		<iframe src="https://giphy.com/embed/KGHAMQYyf3M0aRZ4bN"  allowFullScreen></iframe>
		</div>
	</main>
	
	<%- include ("../fragmente/footer.ejs")%>
</body>

</html>